.cwrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin:0 auto;

    .cwrapper__card {
        position: relative;
        width:350px;
        margin: 30px;
        border-radius: 5px;
        overflow: hidden;
    }

    .cwrapper__cardimage {
        width: 100%;
        height:250px;
        overflow: hidden;

        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .cwrapper__author {
        color:#fff;
        font-size: 9px;
        position:absolute;
        bottom:5px;
        right:5px;
        z-index: 2;
        letter-spacing: 1px;
    }


}
